<div class="container">
  <div>Active Player: {{ getSign(activePlayer) }}</div>
  <div *ngFor="let row of gamefield; let rowIndex = index" class="row">
    <div class="field" [class.clicked]="isFieldClicked(rowIndex,colIndex)" *ngFor="let field of row; let colIndex=index"
      [innerHTML]="getSign(field)" (click)="setField(rowIndex,colIndex)">
    </div>
  </div>
</div>
<div *ngIf="isGameOver" class="gameover">
  <div>
    <div>
      <h1>Gameover</h1>
      <button (click)="restart()" type="button">
        restart
      </button>
    </div>
  </div>
</div>